{% extends 'base.html' %}

{% block content %}

<h1>
    Today we are going to discuss on FBV - Function based views.
</h1>
<div>
    <table style="width:100%"; border-spacing: 5px;>

             <tr>
               
               <th>Name</th>
               <th >quantity</th>
               <th >price</th>
               <th >availability</th>
               <th>Detail</th>
               <th>Update</th>
               <th>Delete</th>               
             </tr>
                     {% for a in Ord %}
           <tr>
              
               <td>{{ a.name }}</td>
               <td>{{ a.quantity }}</td>
               <td>{{ a.price }}</td>     
               <td>{{ a.availability}}</td>          
               <td><a href = "detail/{{ a.id }}"  button class = "btn btn-success">Details</button></a></td>
               <td><a href = "update/{{ a.id }}"  button class="btn btn-primary">Update</button></a></td>				              
               <td><a href = "delete/{{ a.id }}"  button class="btn btn-danger">Delete</button></a></td>

           </tr>
       {% endfor %}
   </table> 
<hr><hr>
<br><br>


For registration please fill in the form.

<div>
    <form action = "" method = "post">
        {% csrf_token %}
        {{form.as_p }}
        <input type="submit" value= "Submit">
    </form>
</div>


{% endblock %}

